@use './partials/var' as *;


$fa-font-path: "../fonts/webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import '~bootstrap/scss/bootstrap';

// HEADER Style config
body{
    background-color: $body-color;
}
header {
    background-color: $primary-color;

    .navbar-nav .nav-item .nav-link {
        color: $dark-color;
    }

    .navbar-nav .nav-item.active .nav-link,
    .navbar-nav .nav-item:hover .nav-link {
        color: $secondary-color;
    }

    .navbar-nav>li>.dropdown-menu a:link,
    .navbar-nav>li>.dropdown-menu a:hover {
        background-color: #5d3385;
        color: $secondary-color;
        padding: -20px;
    }


}

// CHARACTER INFO Page Style Config
.info {
    h1 {
        color: $secondary-color;
    }

    ul {
        li {
            padding-bottom: 1rem;
            margin-bottom: 1rem;
            border-bottom: 1px solid black;

            span {
                color: $secondary-color;
            }
        }
    }
}

.image-character {
    max-width: 400px;
}

// CHARACTER LIST Page Style Config
.info-box {
    display: inline-block;
    background-color: $primary-color;
    width: 30px;
    height: 30px;
}

#layoutAuthentication {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  #layoutAuthentication #layoutAuthentication_content {
    min-width: 0;
    flex-grow: 1;
  }
  #layoutAuthentication #layoutAuthentication_footer {
    min-width: 0;
  }

  #layoutSidenav {
    display: flex;
  }
  #layoutSidenav #layoutSidenav_nav {
    flex-basis: 225px;
    flex-shrink: 0;
    transition: transform 0.15s ease-in-out;
    z-index: 1038;
    transform: translateX(-225px);
  }
  #layoutSidenav #layoutSidenav_content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 0;
    flex-grow: 1;
    min-height: calc(100vh - 56px);
    margin-left: -225px;
  }




