@use './partials/var' as *;


$fa-font-path: "../fonts/webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import '~bootstrap/scss/bootstrap';

.info{
    h1{
        color: #0f810d;
    }
    ul{
        li{
            padding-bottom: 1rem;
            margin-bottom: 1rem;
            border-bottom: 1px solid black;
            span{
                color: #0f810d;
            }
        }
    }
}
.image-character{
max-width: 400px;
}

.card-head span{
    background-color: #39234d;
    width: 30px;
    height: 30px;
}
